<div class="large-container center-block">
    <h1>Mis artículos</h1>
    <p>Cantidad de articulos: <%= @articles.count%></p>
    <%= render @articles %>

    <div>
        <%= will_paginate @articles %>
    </div>
</div>


