<nav class="nav bg-light">
    <li class="nav-item">
        <%= link_to "Inicio", root_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Artículos", articles_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Artículos", new_articles_path, class:"nav-link"%>
    </li>
</nav>